@font-face {
  font-family: "GowunDodum-Regular";
  font-weight: normal;
  src: url("./GowunDodum-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "GowunBatang-Regular";
  src: url("./GowunBatang-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GowunBatang-Bold";
  src: url("./GowunBatang-Bold.ttf") format("truetype");
}
body{
  font-family: "GowunDodum-Regular";
  color : #fff
}

#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: rgb(17,28,45);
  position: relative;
  z-index: 10;

}
/*#root:before{*/
/*  content: "";*/
/*  background-image: url('./img/background.jpg');*/
/*  background-size:cover;*/
/*  opacity:0.5;*/
/*  position:absolute;*/
/*  top:0px;*/
/*  left:0px;*/
/*  right:0px;*/
/*  bottom:0px;*/
/*}*/

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}






/* body {
  background: #000000;
  color : white;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 100vh;
  padding : 20px;
  flex-direction: column;
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  padding: 15px;
  background-color: #091324;
  color:#fff;
  /*border-bottom: 3px solid transparent;*/
  /*border-image: linear-gradient(243deg, rgba(255,244,101,1) 0%, rgba(255,189,50,1) 27%, rgba(255,244,101,1) 54%, rgba(255,201,49,1) 76%, rgba(255,242,63,1) 100%);*/
  /*border-image-slice: 1;*/
}
header h3{
  font-size:1.4rem;
  padding-left: 8px;
}
header img{
  width: 25px;
  height: 25px;
  margin-top:4px;

}
.neonLine{
  height: 0px;
  box-shadow:
          inset 0 0 0.1vw 0.1vw #f6de97,
          0 0 0.1vw 0.1vw #f8de9f,
          0 0 1vw 0.1vw #ffcc81,
          inset 0 0 0.1vw 0.2vw #ffcc81,
          inset 0 0 0.3vw 0.3vw #f8de9f,
          inset 0 0 0.1vw 0.3vw #f6de97
}

header button {
  color : #00092B;
  background: none;
  border: 0;
  cursor: pointer;
}
.search-box {
  display: flex;
  gap: 8px;
  padding: 4px;
  margin-bottom: 1rem;
  padding: 1rem 0;
}

.search-box input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 0 0.4vw 0.1vw #f6de97, 0 0 0.2vw 0.1vw #f8de9f, 0 0 0.6vw 0.1vw #ffcc81, inset 0 0 0vw 0vw #ffcc81, inset 0 0 0vw 0vw #f8de9f, inset 0 0 0.1vw 0vw #f6de97;
  background-color: #101c2d;
  border: 0;
  height: 36px;
  color: #fff;
  /*border-bottom : 1px solid;*/
}

button {
  padding: 4px 8px;
  color: #fff;
  border-radius: 8px;
  border: 0.5px solid black;
  background: none;
  cursor: pointer;
}

.search-box button {
  padding: 7px 12px;
  /*color: #fff;*/
  /*border-radius: 8px;*/
  /*border: 0.5px solid black;*/
  /*background: none;*/
  min-width: 4rem;
  font-family: "GowunDodum-Regular";
  font-size: 15px;
}

.search-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
}

.search-items {
  padding: 12px 4px;
  list-style: none;
  border-bottom : 1px solid #fff;
}

.search-items article {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-items img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.search-items .content {
  flex: 1;
  display: flex;
  gap: 12px;
}

.search-items .content div{
  text-align: left;
}
.music-title{
  font-size: 18px;
}
.artists{
  font-size: 12px;
}

.search-items .handler {
  display: flex;
  gap: 4px;
}
.search-items .handler button{
  min-height: 32px;
  min-width: 3.9rem;
  font-family: "GowunDodum-Regular";
  font-size: 14px;

}
.play-btn{
  background-color: #101c2d;
  padding: 8px 12px;
  /*border: 1px solid #fff;*/
  margin-right: 10px;
  box-shadow: 0 0 0.4vw 0.1vw #f6de97, 0 0 0.2vw 0.1vw #f8de9f, 0 0 0.6vw 0.1vw #ffcc81, inset 0 0 0vw 0vw #ffcc81, inset 0 0 0vw 0vw #f8de9f, inset 0 0 0.1vw 0vw #f6de97;
  border: 0;
  color: #fff4d3;
}
.choice-btn{
  padding: 8px 12px;
  box-shadow: 0 0 0.4vw 0.1vw #f2a92a, 0 0 0.2vw 0.1vw #f8de9f, 0 0 0.6vw 0.1vw #ffcc81, inset 0 0 0vw 0vw #ffcc81, inset 0 0 0vw 0vw #f8de9f, inset 0 0 0.1vw 0vw #f6de97;
  border: 0;
  color: #ffc154;
  background-color: #101c2d;
}
.play-btn:hover{
  color: #fff4d3 !important;
  background-color: #101c2d!important;
  /*border: 1px solid #f6de97!important;*/
  box-shadow:
          0 0 0.6vw 0.1vw #f6de97,
          0 0 0.5vw 0.1vw #f8de9f,
          0 0 0.9vw 0.1vw #ffcc81,
          inset 0 0 0vw 0vw #ffcc81,
          inset 0 0 0vw 0vw #f8de9f,
          inset 0 0 0.1vw 0vw #f6de97;
}
.choice-btn:hover{
  padding: 8px 12px;
  box-shadow:
          0 0 0.6vw 0.1vw #f2a92a,
          0 0 0.5vw 0.1vw #f8de9f,
          0 0 0.9vw 0.1vw #ffcc81,
          inset 0 0 0vw 0vw #ffcc81,
          inset 0 0 0vw 0vw #f8de9f,
          inset 0 0 0.1vw 0vw #f6de97;
  border: 0 !important;
  color: #ffc154 !important;
  background-color: #101c2d !important;
}

.player {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.player iframe {
  width: 100%;
}

.modal {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
   background: rgba(0, 0, 0, 0.733);


}

.modal > div {
  width: 280px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  background-color: #091324;
  border: 1px solid #fff;
}
.modal-title{
}
.modal-btn-area{
  margin-top: 30px;
}
.modal-btn-area button{
  border: 1px solid #fff;
  padding: 8px 12px;
  margin: 10px;
}

.lQwBK .react-calendar{
  padding: 0 !important;
}

.yellowBtn{
  background-color: #101c2d;
  padding: 8px 12px;
  /* border: 1px solid #fff; */
  margin-right: 10px;
  box-shadow:
          0 0 0.4vw 0.1vw #f6de97,
          0 0 0.2vw 0.1vw #f8de9f,
          0 0 0.6vw 0.1vw #ffcc81,
          inset 0 0 0vw 0vw #ffcc81,
          inset 0 0 0vw 0vw #f8de9f,
          inset 0 0 0.1vw 0vw #f6de97;
  border: 0;
  color: #fff4d3;
  height: 36px;
  margin-right: 14px;
}
.darkYellowBtn{
  padding: 8px 12px;
  box-shadow: 0 0 0.4vw 0.1vw #f2a92a, 0 0 0.2vw 0.1vw #f8de9f, 0 0 0.6vw 0.1vw #ffcc81, inset 0 0 0vw 0vw #ffcc81, inset 0 0 0vw 0vw #f8de9f, inset 0 0 0.1vw 0vw #f6de97;
  border: 0;
  color: #ffc154;
  background-color: #101c2d;
  height: 36px;
  margin-right: 14px;
}
.saveBtn{
  color: #101c2d !important;
  background-color: #e39101 !important;
  border: 1px solid #e39101 !important;
  min-width: 4rem;
  height: 38px;

}

.yellowBtn:hover{
  color: #fff4d3 !important;
  background-color: #101c2d!important;
  /*border: 1px solid #f6de97!important;*/
  box-shadow:
          0 0 0.6vw 0.1vw #f6de97,
          0 0 0.5vw 0.1vw #f8de9f,
          0 0 0.9vw 0.1vw #ffcc81,
          inset 0 0 0vw 0vw #ffcc81,
          inset 0 0 0vw 0vw #f8de9f,
          inset 0 0 0.1vw 0vw #f6de97;
}
.darkYellowBtn:hover{
  padding: 8px 12px;
  box-shadow:
          0 0 0.6vw 0.1vw #f2a92a,
          0 0 0.5vw 0.1vw #f8de9f,
          0 0 0.9vw 0.1vw #ffcc81,
          inset 0 0 0vw 0vw #ffcc81,
          inset 0 0 0vw 0vw #f8de9f,
          inset 0 0 0.1vw 0vw #f6de97;
  border: 0 !important;
  color: #ffc154 !important;
  background-color: #101c2d !important;
}
.saveBtn:hover{
  color: #101c2d !important;
  background-color: #e39101 !important;
  border: 1px solid #e39101 !important;
  min-width: 4rem;
  box-shadow:
    /*0 0 0.1vw 0.1vw #fbce61,*/
          0 0 0.3vw 0.1vw #ffcc81;
}



Button span{
  font-family: GowunDodum-Regular;
}
